*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color: #181818;
    --pink-color: #EC008C;
    --orange-color: #F05A28;
    --gray-color: #e1e1e1;
}
body{
    background-color: var(--bg-color);
}
.slider-img{
    width: 80vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
    height: auto !important;
    border-radius: 20px !important;
    margin-top: 1rem !important;
}

/* next - prev button */
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 80% 80%;
    background-color: #F05A28;
    border-radius: 20px;
}
/* top- border */
.top-border{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #EC008C 5%, #F05A28);
    height: 0.2em;
}
/* navbar */
/* .navbar{
    background-color: #3e3e3e !important;
} */
.navbar a{
    text-decoration: none !important;
    color: white;
}
.navbar a:hover{
    color: white !important;
}
.logo img{
    width: 50px;
}
@media (max-width: 600px) {
    .logo img{
        width: 45px;
    }
}
.dark-btn{
    background: linear-gradient(-45deg, #EC008C, #F05A28);
    color: white;
    outline: none;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
}
.shallow-btn{
    background: transparent;
    color: white;
    border: 2px solid var(--pink-color);
    padding: 3px 18px;
    border-radius: 20px;
}
.modal-body, .modal-content{
    background-color: #21252d !important;
    position: relative;
}
.close-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: linear-gradient(-45deg, #EC008C, #F05A28);
    border: none;
    outline: none;
    border-radius: 30px;
    width: 30px;
    height: 30px;
}
#sign_in_form input, #log_in_form input{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px;
}
#sign_in_form input:first-child{
    width: 50px;
}
#sign_in_form input:last-child{
    width: 200px;
}
.playstore, .appstore{
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    overflow: hidden;
}
